<h1 class="emotion-header"> <%=@emotion.name %> </h1>

<section class="quote-display hidden">
  <% @emotion.quotes.each do |quote| %>
     <p class="quote-body"> <%= quote.body %> </p>
     <p class="quote-author"><%= link_to "#{quote.author}", Wikipedia.find(quote.author).fullurl %></p>
  <% end %>
</section>

<section class="video">
  <iframe width="250" height="215" src="https://www.youtube.com/embed/RS_3pED-wJo" frameborder="0" allowfullscreen></iframe>
</section>