<h1 class="emotion-header"> <%=@emotion.name %> </h1>

 <% @emotion.quotes.each do |quote| %>
   <p class="quote-body"> <%= quote.body %> </p>
   <p class="quote-author"> <%= quote.author %> </p>
 <% end %>


 <%= @wiki.fullurl %>

 <% this = Wikipedia.find("something") %>