.quote-display {
  max-width: 250px;
  display: inline-block;
  float: left;
}

.quote-author a {
  text-decoration: none;
  font-style: italic;
  /*color: #E0F2F1;*/
}

.quote-body {
  color: #E0F2F1;
}

.emotion-header {
  text-align: center;
  color: #E0F2F1;
}

.video {
  max-width: 250px;
  float: left;
  display: inline-block;
  margin-left: 50px;
}