.quote-display {
  max-width: 250px;
  display: inline-block;
  float: left;
  margin-left: 20px;
}

.quote-author a {
  text-decoration: none;
  font-style: italic;
  /*color: #E0F2F1;*/
}

.quote-body {
  color: #E0F2F1;
}

.emotion-header {
  text-align: center;
  color: #E0F2F1;
}

.video {
  max-width: 250px;
  float: left;
  display: inline-block;
  margin-left: 40px;
  padding: 0 40px;
  border-left: solid #E0F2F1;
  border-right: solid #E0F2F1;
}

.images {
  max-width: 290px;
  float: left;
  display: inline-block;
  margin-left: 40px
}

.individual-image {
  border-radius: 30%;
  margin: 15px 0 35px 0;
  display: inline-block;
  float: left;
  border: solid #E0F2F1;
  border-width: 2px
}

.individual-video {
  border-radius: 10%;
  border: solid #E0F2F1;
  border-width: 2px
}